body {
    background-color: rgb(231, 230, 230);
    margin: 0;
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: auto 1fr auto;
    font-family: Kalam;
}


header {
    background-color: rgb(236, 180, 133);
    height: 30px;
    margin-bottom: 20px;
    text-align: left;
}

button {
    margin-left: 20px;
}

.Historia {
    height: fit-content;
}


.Perfil {
    display: flex;
}

.Perfil img {
    height: 160px;
    border: 3px solid rgb(151, 151, 151);
    border-radius: 180px;
    position: relative;
    left: 10px;
    margin-right: 20px;
}

.Biografia {
    margin-left: 10px;
    overflow: ;
}

.Biotexto {
    display: flex;
}

h1 {
    text-transform: uppercase;
}

h2 {
    margin-left: 0;
}

h3 {
    text-transform: uppercase;
    font-size: 30px;
}
