

body {
    background-color: rgb(231, 230, 230);
    margin: 0;
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: auto 1fr auto;
    font-family: kalam;
}

header {
    background-color: rgb(236, 180, 133);
    height: 30px;
    margin-bottom: 20px;
}

button {
    margin-left: 20px;
}

#Datos {
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: fit-content;
}

.Perfil {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    align-content: space-between;

}

.Perfil img {
    height: 160px;
    border: 3px solid rgb(151, 151, 151);
    border-radius: 180px;
    position: relative;
    left: 10px;
    margin-right: 20px;
}

.Nombre {
    display: block;
    position: relative;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.ContactInfo {
    position: relative;
    flex-direction: row;
    display: block;
    margin-right: 20px;

}

.ContactInfo.Idiomas .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #959899;
    display: block;
    margin-top: 5px;
}

.ContactInfo.Idiomas .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(236, 180, 133);
}




#Datos h1 {
    position: static;
    right: 140px;
    text-transform: uppercase;
    height: 30px;
    font-size: 2em;
    line-height: 2;
    
}

#Datos h2 {  
    height: 10px;

}

#Datos p {
    display: block;
    position: relative;
    bottom: 20px;
    margin: 10px;
}

/* Habilidades */

#Experiencia-profesional {
    display: block;
    border-top: 2px solid rgb(236, 180, 133);
    border-bottom: 2px solid rgb(236, 180, 133);;
    margin: 10px;
    padding: 10px;

}

.Habilidades-cualidades {
    display: flex;
}


.Habilidades {
    display: block;
    width: 300px;
    padding-left: 20px;

}

.Habilidades h3 {
    font-size: 20px;
    margin-left: 20px;
}

.ContactInfo.education {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}


.Creatividad {
    height: 20px;
    width: 60px;
    background: slateblue;
    transition: all 1.5s;
    margin: 10px;  
    background-color: rgb(236, 180, 133);
}

.Creatividad:hover {
    background: red;
    height: 20px;
    width: 160px;
    border-color: blue;
}

.Creatividad p {
    margin-left: 200px;
}


.Inteligencia {
    height: 20px;
    width: 75px;
    background: slateblue;
    transition: all 1.5s;
    margin: 10px;  
    background-color: rgb(236, 180, 133);
}

.Inteligencia:hover {
    background: green;
    height: 20px;
    width: 180px;
    border-color: blue;
}

.Inteligencia p {
    margin-left: 200px;
}


.Carisma {
    height: 20px;
    width: 70px;
    transition: all 1.5s;
    margin: 10px;  
    background-color: rgb(236, 180, 133);
}

.Carisma:hover {
    background: lightblue;
    height: 20px;
    width: 180px;
    border-color: blue;
}

.Carisma p {
    margin-left: 200px;
}



.Energia {
    height: 20px;
    width: 50px;
    transition: all 1.5s;
    margin: 10px;  
    background-color: rgb(236, 180, 133);
}

.Energia:hover {
    background: darkslateblue;
    height: 20px;
    width: 160px;
    border-color: grey;
}

.Energia p {
    margin-left: 200px;
}

.Liderazgo {
    height: 20px;
    width: 70px;
    transition: all 1.5s;
    margin: 10px;  
    background-color: rgb(236, 180, 133);
}

.Liderazgo:hover {
    background: darkblue;
    height: 20px;
    width: 190px;
    border-color: grey;
}

.Liderazgo p {
    margin-left: 200px;
}

footer{
    background-color: rgb(236, 180, 133);
    height: 20px;


}


@media screen and (-width: 700px) {
    body {
        display: flex;
    }

    .ContactInfo {
        display: flex;
        flex-direction: column;
    }

    
}
